.h00{
    color: #0056b3;
}
.h41{
    color: #0056b3;
}
.d40{
    display: flex;
    align-items: center;
    height: 300px;
    width: 1400px;
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid #0056b3;
    font-family: cursive;
}